body {
   background-color: #ccc;
   margin: 0;
   padding: 0;
}

nav ul {
  background-color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   font-size: 24px;
   padding: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
